<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://kit.fontawesome.com/8b485465bd.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/styles-FormulariosProductos.css">
  <link rel="stylesheet" href="/css/styles-header.css" />
  <link rel="stylesheet" href="/css/styles-footer.css" />


  <title>Registro de productos</title>
</head>

<body class="body-register-confirmation">
  <!-- HEADER -->
  <header style="position: relative;">
    <%- include('../partials/header') %>
  </header>

  <main>
    <form action="/products/" method="post" class="formulario-forma" enctype="multipart/form-data">
      <div class="mensaje-logo">
        <h1>FORMULARIO DE CREACION DE PRODUCTO</h1>
      </div>
      <P>Complete todos los campos para ingresar un nuevo producto</P><br>

      <% if (typeof errors != "undefined") { %>
        <ul style="text-align: center;">
        <% errors.forEach(specificError => { %>
          <li style="text-align: center;"><%= specificError.msg %> </li>
        <% }) %> 
      </ul>
      <% } %>
      <br>

      <div class="formulado-interno">
        <div class="control-formulario">
          <label for="nombre">Escriba el nombre del producto:</label>
          <input type="text" name="nombre" id="nombre" placeholder="NOMBRE DEL PRODUCTO"
            class="control-input" value=<%= locals.old && old.nombre ? old.nombre: null %>>
        </div>
        <div class="control-formulario">
          <label for="marca">Seleccione la marca del producto:</label>
          <select name="marca" id="marca" class="control-input">
            <option value="">Seleccione una marca</option>
            <option value="Logitech" <%=locals.old && old.marca === 'Logitech' ? 'selected' : ''%>>Logitech</option>
            <option value="Corsair" <%=locals.old && old.marca === 'Corsair' ? 'selected' : ''%>>Corsair</option>
            <option value="Razer" <%=locals.old && old.marca === 'Razer' ? 'selected' : ''%>>Razer</option>
            <option value="Ozone" <%=locals.old && old.marca === 'Ozone' ? 'selected' : ''%>>Ozone</option>
          </select>
        </div>
        <div class="control-formulario">
          <label for="precio">Indique el precio del producto:</label>
          <input type="number" name="precio" id="precio" placeholder="$ 000.000" class="control-input" value=<%= locals.old && old.precio ? old.precio: null %>>
        </div>
        <div class="control-formulario">
          <label for="categoria">Seleccione la categoria del producto:</label>
          <select name="categoria" id="categoria" class="control-input">
            <option value="">Seleccione una categoria</option>
            <option value="Cases" <%=locals.old && old.categoria === 'Cases' ? 'selected' : ''%> >Cases</option>
            <option value="Teclados" <%=locals.old && old.categoria === 'Teclados' ? 'selected' : ''%>>Teclados</option>
            <option value="Audifonos" <%=locals.old && old.categoria === 'Audifonos' ? 'selected' : ''%>>Audifonos</option>
            <option value="Mouse" <%=locals.old && old.categoria === 'Mouse' ? 'selected' : ''%>>Mouse</option>
            <option value="Camaras" <%=locals.old && old.categoria === 'Camaras' ? 'selected' : ''%>>Camaras</option>
            <option value="Audio (Microfonos)" <%=locals.old && old.categoria === 'Audio (Microfonos)' ? 'selected' : ''%>>Audio (Microfonos)</option>
          </select>
        </div>
        <div class="control-formulario">
          <label for="color">Seleccione el color del producto:</label>
          <select name="color" id="color" class="control-input">
            <option value="">Seleccione un color</option>
            <option value="Blanco" <%=locals.old && old.color === 'Blanco' ? 'selected' : ''%>>Blanco</option>
            <option value="Negro" <%=locals.old && old.color === 'Negro' ? 'selected' : ''%>>Negro</option>
            <option value="Amarillo" <%=locals.old && old.color === 'Amarillo' ? 'selected' : ''%>>Amarillo</option>
            <option value="Azul" <%=locals.old && old.color === 'Azul' ? 'selected' : ''%>>Azul</option>
            <option value="Rojo" <%=locals.old && old.color === 'Rojo' ? 'selected' : ''%>>Rojo</option>
            <option value="Violeta" <%=locals.old && old.color === 'Violeta' ? 'selected' : ''%>>Violeta</option>
            <option value="Verde" <%=locals.old && old.color === 'Verde' ? 'selected' : ''%>>Verde</option>
            <option value="Cafe" <%=locals.old && old.color === 'Cafe' ? 'selected' : ''%>>Cafe</option>
          </select>
        </div>
        <div class="control-formulario">
          <label for="accesorios">Indique los accesorios del producto:</label>
          <input type="text" name="accesorios" id="accesorios" placeholder="ACCESORIOS" class="control-input" value=<%= locals.old && old.accesorios ? old.accesorios: null %>>
        </div>
        <div class="control-formulario">
          <label for="imagen">Ingrese una imagen del producto:<br><br></label>
          <input type="file" name="imagen" id="imagen" class="control-input"  multiple >
        </div>
        <div class="control-formulario">
          <label for="descripcion">Realice una breve descripcion del producto:</label>
          <textarea name="descripcion" id="descripcion" placeholder="DESCRIPCION DEL PRODUCTO"
            class="control-input"><%= locals.old && old.descripcion ? old.descripcion: null %></textarea>
        </div>
        <br>
        <br>
        <div class="control-envio"><button type="submit" class="boton-formulario">GUARDAR PRODUCTO</button>
          <a href="/products" class="control-final">EDITAR PRODUCTO EXISTENTE</a>
        </div>
        <br>

    </form>
  </main>

  <!-- FOOTER -->
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>