<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://kit.fontawesome.com/8b485465bd.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/styles-FormulariosProductos.css">
  <link rel="stylesheet" href="/css/styles-header.css" />
  <link rel="stylesheet" href="/css/styles-footer.css" />


  <title>Registro de productos</title>
</head>

<body class="body-register-confirmation">
  <!-- HEADER -->
  <header style="position: relative;">
    <%- include('../partials/header') %>
  </header>

  <main>
    <form action="/products/" method="post" class="formulario-forma" enctype="multipart/form-data">
      <div class="mensaje-logo">
        <h1>FORMULARIO DE CREACION DE PRODUCTO</h1>
      </div>
      <P>Complete todos los campos para ingresar un nuevo producto</P><br>

      <div class="formulado-interno">
        <div class="control-formulario">

          <label for="nombre">Escriba el nombre del producto:
            <% if (locals.errors && errors.nombre) { %>
              <div class="mensaje-error">
                <%= errors.nombre.msg %> 
              </div>
            <% } %>

          </label>
          <input type="text" name="nombre" id="nombre" placeholder="NOMBRE DEL PRODUCTO"
            class="control-input <%= locals.errors && errors.nombre ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.nombre : null %>">
        </div>
        <div class="control-formulario">
          <label for="marca">Seleccione la marca del producto:
            <% if (locals.errors && errors.marca) { %>
              <div class="mensaje-error">
                <%= errors.marca.msg %> 
              </div>
            <% } %>
          </label>
          <select name="marca" id="marca" class="control-input <%= locals.errors && errors.marca ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.marca : null %>">
            <option value="">Seleccione una marca</option>
            <%  
            let marcas = ['Logitech', 'Corsair', 'Razer', 'Ozone'];
           %>
           <% for (const unaMarca of marcas) { %>
               <option 
                value="<%= unaMarca %>"
                <%= locals.oldData && (unaMarca === oldData.marca) ? 'selected' : null %>>
                 <%= unaMarca %> </option>
           <% } %> 
          </select>
        </div>
        <div class="control-formulario">
          <label for="precio">Indique el precio del producto:
            <% if (locals.errors && errors.precio) { %>
              <div class="mensaje-error">
                <%= errors.precio.msg %> 
              </div>
            <% } %>
          </label>
          <input type="number" name="precio" id="precio" placeholder="$ 000.000" class="control-input <%= locals.errors && errors.precio ? 'is-invalid' : null %>"
          value="<%= locals.oldData ? oldData.precio : null %>">
        </div>
        <div class="control-formulario">
          <label for="categoria">Seleccione la categoria del producto:
            <% if (locals.errors && errors.categoria) { %>
              <div class="mensaje-error">
                <%= errors.categoria.msg %> 
              </div>
            <% } %>
          </label>
          <select name="categoria" id="categoria" class="control-input">
            <option value="">Seleccione una categoria</option>
            <%  
            let categorias= ['Cases', 'Teclados', 'Audifonos', 'Mouse','Camaras',"Audio (Microfonos)"];
           %>
           <% for (const unaCategoria of categorias) { %>
               <option 
                value="<%= unaCategoria %>"
                <%= locals.oldData && (unaCategoria === oldData.categoria) ? 'selected' : null %>>
                 <%= unaCategoria %> </option>
           <% } %> 
          </select>
        </div>
        <div class="control-formulario">
          <label for="color">Seleccione el color del producto:
            <% if (locals.errors && errors.color) { %>
              <div class="mensaje-error">
                <%= errors.color.msg %> 
              </div>
            <% } %>
          </label>
          <select name="color" id="color" class="control-input">
            <option value="">Seleccione un color</option>
            <%  
            let colores= ['Blanco', 'Negro', 'Amarillo', 'Azul','Rojo',"Violeta","Verde","Cafe"];
           %>
           <% for (const unColor of colores) { %>
               <option 
                value="<%= unColor %>"
                <%= locals.oldData && (unColor === oldData.color) ? 'selected' : null %>>
                 <%= unColor %> </option>
           <% } %> 
          </select>
        </div>
        <div class="control-formulario">
          <label for="accesorios">Indique los accesorios del producto:
            <% if (locals.errors && errors.accesorios) { %>
              <div class="mensaje-error">
                <%= errors.accesorios.msg %> 
              </div>
            <% } %>
          </label>
          <input type="text" name="accesorios" id="accesorios" placeholder="ACCESORIOS" class="control-input <%= locals.errors && errors.accesorios ? 'is-invalid' : null %>"
          value="<%= locals.oldData ? oldData.accesorios : null %>">
        </div>
        <div class="control-formulario">
          <label for="imagen">Ingrese una imagen del producto:<br><br></label>
          <input type="file" name="imagen" id="imagen" class="control-input"  multiple >
        </div>
        <div class="control-formulario">
          <label for="descripcion">Realice una breve descripcion del producto:
            <% if (locals.errors && errors.descripcion) { %>
              <div class="mensaje-error">
                <%= errors.descripcion.msg %> 
              </div>
            <% } %>
          </label>
          <textarea name="descripcion" id="descripcion" placeholder="DESCRIPCION DEL PRODUCTO"
            class="control-input"></textarea>
        </div>
        <br>
        <br>
        <div class="control-envio"><button type="submit" class="boton-formulario">GUARDAR PRODUCTO</button>
          <a href="/products" class="control-final">EDITAR PRODUCTO EXISTENTE</a>
        </div>
        <br>

    </form>
  </main>

  <!-- FOOTER -->
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>