<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://kit.fontawesome.com/8b485465bd.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/styles-FormulariosProductos.css">
  <link rel="stylesheet" href="/css/styles-header.css" />
  <link rel="stylesheet" href="/css/styles-footer.css" />

  <title>Edicion de productos</title>
</head>

<body class="body-register-confirmation">
  <!-- HEADER -->
  <header style="position: relative;">
    <%- include('../partials/header') %>
  </header>

  <main>
    <form action="/products/<%= productoEditar.id %>?_method=PUT"  method="POST" class="formulario-forma" enctype="multipart/form-data">
      <div class="mensaje-logo">
        <h1>EDICIÓN DE PRODUCTO</h1>
      </div>
      <P>Complete todos los campos para editar correctamente el producto: <%= productoEditar.nombre %></P><br>
      <div class="formulado-interno">
        <div class="control-formulario">
          <label for="nombre">Nombre del producto:</label>
          <input type="text" name="nombre" id="nombre" placeholder="NOMBRE DEL PRODUCTO"
            class="control-input" value="<%= productoEditar.nombre %>" required>
        </div>
        <div class="control-formulario">
          <label for="marca">Seleccione la marca del producto:</label>
          <select name="marca" id="marca" class="control-input" value="<%= productoEditar.marca %>" required>
            <option>Logitech</option>
            <option>Corsair</option>
            <option>Razer</option>
            <option>Ozone</option>
          </select>
        </div>
        <div class="control-formulario">
          <label for="precio">Indique el precio del producto:</label>
          <input type="number" name="precio" id="precio" placeholder="$ 000.000" class="control-input" value="<%= productoEditar.precio %>"
            required>
        </div>
        <div class="control-formulario">
          <label for="categoria">Seleccione la categoria del producto:</label>
          <select name="categoria" id="categoria" class="control-input" value="<%= productoEditar.categoria %>" required>
            <option>Cases</option>
            <option>Teclados</option>
            <option>Audifonos</option>
            <option>Mouse</option>
            <option>Camaras</option>
            <option>Audio (Microfonos)</option>
          </select>
        </div>
        <div class="control-formulario">
          <label for="color">Seleccione el color del producto:</label>
          <select name="color" id="color" class="control-input" value="<%= productoEditar.color %>" required>
            <option value="#ff0000">Rojo</option>
            <option value="#00ff00">Verde</option>
            <option value="#0000ff">Azul</option>
            <option value="#770077">Morado</option>
          </select>
        </div>
        <div class="control-formulario">
          <label for="accesorios">Indique los accesorios del producto:</label>
          <input type="texT" name="accesorios" id="accesorios" placeholder="ACCESORIOS" class="control-input" value="<%= productoEditar.accesorios %>" required>
        </div>
        <div class="control-formulario">
          <label for="imagen">Ingrese una imagen del producto:<br><br></label>
          <input type="file" name="imagen" id="imagen" class="control-input" accept=".jpg" value="<%= productoEditar.imagen %>" multiple required>
        </div>
        <div class="control-formulario">
          <label for="descripcion">Realice una breve descripcion del producto:</label>
          <textarea name="descripcion" id="descripcion" placeholder="DESCRIPCION DEL PRODUCTO"
            class="control-input" required><%= productoEditar.descripcion %></textarea>
        </div>


        <br>
        <br>
        <div class="control-envio"><button type="submit" class="boton-formulario">EDITAR PRODUCTO</button>
          <a href="/products/create" class="control-final">INGRESAR UN NUEVO PRODUCTO</a>
        </div>
        <br>
    </form>
  </main>

  <!-- FOOTER -->
  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

</body>

</html>