<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://kit.fontawesome.com/8b485465bd.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/styles-FormulariosProductos.css">
  <link rel="stylesheet" href="/css/styles-header.css" />
  <link rel="stylesheet" href="/css/styles-footer.css" />

  <title>Edicion de productos</title>
</head>

<body class="body-register-confirmation">
  <!-- HEADER -->
  <header>
    <%- include('../partials/header') %>
  </header>

  <main>
    <form action="/products/<%= productoEditar.id %>?_method=PUT"  method="POST" class="formulario-forma" enctype="multipart/form-data">
      <div class="mensaje-logo">
        <h1>EDICIÓN DE PRODUCTO</h1>

      </div>
      <P>Complete todos los campos para editar correctamente el producto: <%= productoEditar.nombre %></P><br>
      <div class="formulado-interno">
        <div class="control-formulario">
          <label for="nombre">Nombre del producto:
            <% if (locals.errors && errors.nombre) { %>
              <div class="mensaje-error">
                <%= errors.nombre.msg %> 
              </div>
            <% } %>
          </label>
          <input type="text" name="nombre" id="nombre" placeholder="NOMBRE DEL PRODUCTO"
            class="control-input" value="<%= productoEditar.nombre %>" required>
        </div>
        <div class="control-formulario">
          <label for="marca">Seleccione la marca del producto:
            <% if (locals.errors && errors.marca) { %>
              <div class="mensaje-error">
                <%= errors.marca.msg %> 
              </div>
            <% } %>
          </label>
          <select name="marca" id="marca" class="control-input" value="<%= productoEditar.marca %>" required>
            <option value="">Seleccione una marca</option>
            <option value="Logitech" <%= productoEditar.marca == "Logitech" ? "selected" : null %>>Logitech</option>
            <option value="Corsair" <%= productoEditar.marca == "Corsair" ? "selected" : null %>>Corsair</option>
            <option value="Razer" <%= productoEditar.marca == "Razer" ? "selected" : null %>>Razer</option>
            <option value="Ozone" <%= productoEditar.marca == "Ozone" ? "selected" : null %>>Ozone</option>

          </select>
        </div>
        <div class="control-formulario">
          <label for="precio">Indique el precio del producto:
            <% if (locals.errors && errors.precio) { %>
              <div class="mensaje-error">
                <%= errors.precio.msg %> 
              </div>
            <% } %>
          </label>
          <input type="number" name="precio" id="precio" placeholder="$ 000.000" class="control-input" value="<%= productoEditar.precio %>"
            required>
        </div>
        <div class="control-formulario">
          <label for="categoria">Seleccione la categoria del producto:
            <% if (locals.errors && errors.categoria) { %>
              <div class="mensaje-error">
                <%= errors.categoria.msg %> 
              </div>
            <% } %>
          </label>
          <select name="categoria" id="categoria" class="control-input" value="<%= productoEditar.categoria %>" required>
            <option value="">Seleccione una categoria</option>
            <option value="Cases" <%= productoEditar.categoria == "Cases" ? "selected" : null %>>Cases</option>
            <option value="Teclados" <%= productoEditar.categoria == "Teclados" ? "selected" : null %>>Teclados</option>
            <option value="Audifonos" <%= productoEditar.categoria == "Audifonos" ? "selected" : null %>>Audifonos</option>
            <option value="Mouse" <%= productoEditar.categoria == "Mouse" ? "selected" : null %>>Mouse</option>
            <option value="Camaras" <%= productoEditar.categoria == "Camaras" ? "selected" : null %>>Camaras</option>
            <option value="Audio (Microfonos)" <%= productoEditar.categoria == "Audio (Microfonos)" ? "selected" : null %>>Audio (Microfonos)</option>
          </select>
        </div>
        <div class="control-formulario-check">
            <label for="color">Seleccione el color del producto:
              <% if (locals.errors && errors.color) { %>
                <div class="mensaje-error">
                  <%= errors.color.msg %> 
                </div>
              <% } %>
            </label>
  
            <input type="checkbox" name="color" id="color"  value="Blanco" <%= productoEditar.color == "Blanco" ? "checked" : null %>>
            <label for="color">Blanco</label>
  
            <input type="checkbox" name="color" id="color" value="Negro" <%= productoEditar.color == "Negro" ? "checked" : null %>>
            <label for="color">Negro</label>
  
            <input type="checkbox" name="color" id="color" value="Amarillo" <%= productoEditar.color == "Amarillo" ? "checked" : null %>>
            <label for="color">Amarillo</label>
  
            <input type="checkbox" name="color" id="color" value="azul" <%= productoEditar.color == "Azul" ? "checked" : null %>>
            <label for="color">Azul</label>
  
            <input type="checkbox" name="color" id="color" value="Rojo" <%= productoEditar.color == "Rojo" ? "checked" : null %>>
            <label for="color">Rojo</label>
  
            <input type="checkbox" name="color" id="color" value="Violeta" <%= productoEditar.color == "Violeta" ? "checked" : null %>>
            <label for="color">Violeta</label>
  
            <input type="checkbox" name="color" id="color" value="Verde" <%= productoEditar.color == "Verde" ? "checked" : null %>>
            <label for="color">Verde</label>
  
            <input type="checkbox" name="color" id="Cafe" value="Blanco" <%= productoEditar.color == "Cafe" ? "checked" : null %>>
            <label for="color">Cafe</label>
        </div> 

        <div class="control-formulario">
          <label for="accesorios">Indique los accesorios del producto:
            <% if (locals.errors && errors.accesorios) { %>
              <div class="mensaje-error">
                <%= errors.accesorios.msg %> 
              </div>
            <% } %>
          </label>
          <input type="texT" name="accesorios" id="accesorios" placeholder="ACCESORIOS" class="control-input" value="<%= productoEditar.accesorios %>" required>
        </div>
        <div class="control-formulario">
          <label for="imagen">Ingrese una imagen del producto:<br><br></label>
          <input type="file" name="imagen" id="imagen" class="control-input"  value="<%= productoEditar.imagen %>" multiple >
        </div>
        <div class="control-formulario">
          <label for="descripcion">Realice una breve descripcion del producto:
            <% if (locals.errors && errors.descripcion) { %>
              <div class="mensaje-error">
                <%= errors.descripcion.msg %> 
              </div>
            <% } %>
          </label>
          <textarea name="descripcion" id="descripcion" placeholder="DESCRIPCION DEL PRODUCTO"
            class="control-input" required><%= productoEditar.descripcion %></textarea>
        </div>


        <br>
        <br>
        <div class="control-envio"><button type="submit" class="boton-formulario">EDITAR PRODUCTO</button>
          <a href="/products/create" class="control-final">INGRESAR UN NUEVO PRODUCTO</a>
        
        <br>
    </form>
    <form action="/products/<%=productoEditar.id%>?_method=DELETE" method="POST" style="display: inline-flex">
      <button type="submit" class="boton-formulario">ELIMINAR ESTE PRODUCTO</button>
       </form>
      </div>
  </main>

  <!-- FOOTER -->
  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

</body>

</html>