<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://kit.fontawesome.com/8b485465bd.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/styles-FormulariosProductos.css">
  <link rel="stylesheet" href="/css/styles-header.css" />
  <link rel="stylesheet" href="/css/styles-footer.css" />
  <link rel="shortcut icon" href="/img/logo-solo.png" />

  <title>Registro de productos</title>
</head>

<body class="body-register-confirmation">
  <!-- HEADER -->
  <header>
    <div class="top-header">
      <img class="flag-header" src="https://img.icons8.com/fluency/48/000000/colombia-circular.png" />
      <p class="envios-header">
        Envío gratis a partir de $500.000 | Debido a COVID-19, algunos pedidos
        pueden sufrir retrasos.
      </p>
      <p class="xbox-header">XBOX</p>
      <p class="nintendo-header">NINTENDO</p>
      <p class="playstation-header">PLAYSTATION</p>
    </div>
    <div class="main-header">
      <a class="burger-menu-header" href="#" onclick="alterStyle(mb)">
        <div>
          <i class="fas fa-bars"></i>
        </div>
      </a>

      <a href="/"><img class="logo-header" src="/img/logo-one.png"/></a>
      <nav class="main-nav-header">
        <ul class="ul-menu">
          <li>
            <a href="/products/create">
              <span class="nav-btn-text">AGREGAR PRODUCTO</span>
            </a>
          </li>
          <li>
            <a href="/products?categoria=catalogo">
              <span class="nav-btn-text">PRODUCTOS</span>
            </a>
          </li>
          <li>
            <a href="/products/ocultos">
              <span class="nav-btn-text">PRODUCTOS OCULTOS</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="nav-btn-text">STREAMING</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="nav-btn-text">DIADEMAS</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="search-cart">
        <% if (locals.estaLogueado) { %>
          <a class="name" href="/users/profile"><img class="img-perfil" src="/img/users/<%=locals.usuarioLogueado.image%>" alt="<%=locals.usuarioLogueado.name%>"></a>
          <a class="log-out" href="/users/logout">Logout</a>
        <% } else { %>
        <!-- Ventana modal del login -->
        <%- include('../partials/modal-login.ejs') %>
        <!-- FIN Ventana modal del login -->
        <% } %>
        <a href="#"><button class="search-btn"><i class="fas fa-search"></i></button></a>

      </div>
    </div>
  </header>

  <main>
    <form action="/products/crear" method="post" class="formulario-forma" enctype="multipart/form-data">
      <div class="mensaje-logo">
        <h1>FORMULARIO DE CREACION DE PRODUCTO</h1>
      </div>
      <P>Complete todos los campos para ingresar un nuevo producto</P><br>

      <div class="formulado-interno">
        <div class="control-formulario">

          <label for="name">Escriba el nombre del producto:
            <% if (locals.errors && errors.name) { %>
              <div class="mensaje-error">
                <%= errors.name.msg %> 
              </div>
            <% } %>
          </label>
          <input type="text" name="name" id="name" placeholder="NOMBRE DEL PRODUCTO"
            class="control-input <%= locals.errors && errors.name ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.name : null %>">
        </div>

        <div class="control-formulario">
          <label for="brand">Seleccione la marca del producto:
            <% if (locals.errors && errors.brand) { %>
              <div class="mensaje-error">
                <%= errors.brand.msg %> 
              </div>
            <% } %>
          </label>
          <select name="brand" id="brand" class="control-input <%= locals.errors && errors.brand ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.brand : null %>">
            <option value="">Seleccione una marca</option>
            <% brands.forEach(brand => { %>
              <option value="<%= brand.id_brands %>"><%= brand.brand %></option>
              <% }); %>
          </select>
        </div>

        <div class="control-formulario">
          <label for="precio">Indique el precio del producto:
            <% if (locals.errors && errors.price) { %>
              <div class="mensaje-error">
                <%= errors.price.msg %> 
              </div>
            <% } %>
          </label>
          <input type="number" name="price" id="price" placeholder="$ 000.000" class="control-input <%= locals.errors && errors.price ? 'is-invalid' : null %>"
          value="<%= locals.oldData ? oldData.price : null %>">
        </div>

        <div class="control-formulario">
          <label for="categories">Seleccione la categoria del producto:
            <% if (locals.errors && errors.categories) { %>
              <div class="mensaje-error">
                <%= errors.categories.msg %> 
              </div>
            <% } %>
          </label>
          <select name="categories" id="categories" class="control-input <%= locals.errors && errors.categories ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.categories : null %>">
              <option value="">Seleccione una categoria</option>
              <% categories.forEach(category => { %>
              <option value="<%= category.id_categories %>"><%= category.categories %></option>
              <% }); %>
          </select>
        </div>

        <div class="control-formulario-check">
          <label for="color">Seleccione el color del producto:
            <% if (locals.errors && errors.color) { %>
              <div class="mensaje-error">
                <%= errors.color.msg %> 
              </div>
            <% } %>
          </label>

          <% colors.forEach(color => { %>
            <label for="color"><%= color.colors %></label>
            <input type="checkbox" name="color" id="color" value="<%= color.id_colors %>"  class="checkbox <%= locals.errors && errors.color ? 'checked' : null %>"> 
            <% }); %>
        </div>

        <div class="control-formulario">
          <label for="accesories">Indique los accesorios del producto:
            <% if (locals.errors && errors.accesories) { %>
              <div class="mensaje-error">
                <%= errors.accesories.msg %> 
              </div>
            <% } %>
          </label>
          <input type="text" name="accesories" id="accesories" placeholder="ACCESORIOS" class="control-input <%= locals.errors && errors.accesories ? 'is-invalid' : null %>"
          value="<%= locals.oldData ? oldData.accesories : null %>">
        </div>
        <div class="control-formulario">
          <label for="image">Ingrese una imagen del producto:<br><br></label>
          <input type="file" name="image" id="image" class="control-input"  multiple >
        </div>
        <div class="control-formulario">
          <label for="description">Realice una breve descripcion del producto:
            <% if (locals.errors && errors.description) { %>
              <div class="mensaje-error">
                <%= errors.description.msg %> 
              </div>
            <% } %>
          </label>
          <textarea name="description" id="description" placeholder="DESCRIPCION DEL PRODUCTO"
            class="control-input"></textarea>
        </div>
        <br>
        <br>
        <div class="control-envio"><button type="submit" class="boton-formulario">GUARDAR PRODUCTO</button>
          <a href="/products" class="control-final">EDITAR PRODUCTO EXISTENTE</a>
        </div>
        <br>

    </form>
  </main>

  <!-- FOOTER -->
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>