<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%=productoDetalle.nombre %>
  </title>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/fcf9db6539.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/styles-productDetail.css" />
  <link rel="stylesheet" href="/css/styles-header.css" />
  <link rel="stylesheet" href="/css/styles-footer.css" />
  
</head>

<body>
  <!-- HEADER -->
  <header>
    <%- include('../partials/header') %>
  </header>
  <main class="main">
    <section class="panel-1">
      <div class="panel-izq">
        <div>
          <h1>
            <%=productoDetalle.nombre %>
          </h1>
        </div>
        <div class="product-des">
          <p>
            <%=productoDetalle.descripcion%>
          </p>
        </div>
        <div>
          <h2 class="precio">$<%=productoDetalle.precio%>
          </h2>
        </div>
        <div class="estrellas">
          <form>
            <p class="clasificacion">
              <input id="radio1" type="radio" name="estrellas" value="5" />
              <label class="stars" for="radio1">★</label>
              <input id="radio2" type="radio" name="estrellas" value="4" />
              <label class="stars" for="radio2">★</label>
              <input id="radio3" type="radio" name="estrellas" value="3" />
              <label class="stars" for="radio3">★</label>
              <input id="radio4" type="radio" name="estrellas" value="2" />
              <label class="stars" for="radio4">★</label>
              <input id="radio5" type="radio" name="estrellas" value="1" />
              <label class="stars" for="radio5">★</label>
            </p>
          </form>
          <p>25 estrellas</p>
        </div>
        <div class="content-product-color">
          <div class="product-color">
            <div class="img-color">
              <img src="/img/products/<%=productoDetalle.imagen ? productoDetalle.imagen : 'default.jpg'%>" alt="">
            </div>
            <div class="color">
              <%=productoDetalle.color%>
            </div>
            <div class="fav">
              <i class="fa-solid fa-caret-down"></i>
            </div>
          </div>
          
          <form action="/productCart/addProductCart" method="POST" style="display: inline-flex">
            <label for="id"></label>
            <input type="hidden" name="id" value="<%=productoDetalle.id%>">   
            <input type="hidden" name="car" value="true">
            <button type="submit" class="add-carrito">Agregar al Carrito</button>
          </form>

          <div class="video-rese">
            <a href="https://www.youtube.com/watch?v=NU1m_dLzEh4" target="_blank" class="video">
              <i class="fa-solid fa-cube"></i>Video
            </a>
          </div>
          <div class="video-rese">
            <a href="/products/<%=productoDetalle.id%>/edit" target="_blank" class="video">
              <i class="fas fa-edit"></i>Editar Producto
            </a>
          </div>

          <div class="video-rese">
            <%if (productoDetalle.visible==true) { %>
              <form action="/products/<%=productoDetalle.id%>/ocultar?_method=PUT" method="POST" style="display: inline-flex">
                <i class="fa-regular fa-eye-slash"></i>
                <button type="submit" class="ocultar">OCULTAR PRODUCTO</button>
              </form>
            <% } %>
            <%if (productoDetalle.visible==false) { %>
              <form action="/products/<%=productoDetalle.id%>/mostrar?_method=PUT" method="POST" style="display: inline-flex">
                <i class="fa-regular fa-eye"></i>
                <button type="submit" class="ocultar">MOSTRAR PRODUCTO</button>
              </form>
            <% } %>
          </div>

          <div class="video-rese">
            <form action="/products/<%=productoDetalle.id%>?_method=DELETE" method="POST" style="display: inline-flex">
              <i class="far fa-trash-alt"></i>
              <button type="submit" class="button">ELIMINAR</button>
            </form>
          </div>
        </div>
      </div>
      </div>
      <div class="panel-der">
        <div class="img-product">
          <img src="/img/products/<%=productoDetalle.imagen ? productoDetalle.imagen : 'default.jpg'%>" alt="">
        </div>
        <div class="gallery">
          <div class="img-products">
            <img src="/img/product-headsets-2.png" alt="" />
          </div>
          <div class="img-products">
            <img src="/img/product-headsets-2.png" alt="" />
          </div>
          <div class="max">
            <i class="fa-solid fa-maximize"></i>
          </div>
        </div>
      </div>
    </section>
    <section class="panel-2">
      Acá va el panel 2
    </section>
    <section class="panel-3">
      Acá va el panel 3 de especificaciones técnicas
    </section>
  </main>
  <!-- FOOTER -->
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>