
<% for(let i=0; i<cases.length; i++){ %>
    <% if (cases[i].visible==true) { %>
    <a href="/products/productdetail/<%= cases[i].id_products%>">
        <section class="product-item">
            <div class="imagen-producto">
                <img src="/img/products/<%= cases[i].image %>" alt="imagen de producto">
            </div>
            <div class="datos">
                <p class="nombre">
                    <%= cases[i].name %>
                </p>
                <p class="descipcion">
                    <%= cases[i].description %>
                </p>
            </div>
            <div class="precio">
                <p>$<%= cases[i].price %>
                </p>
            </div>
        </section>
    </a>
    <% } %>
    <% } %>
    
    <!-- TECLADOS -->
    <% for(let i=0; i<teclado.length; i++){ %>
    <% if (teclado[i].visible==true) { %>
    <a href="/products/productdetail/<%= teclado[i].id_products %>">
        <section class="product-item">
            <div class="imagen-producto">
                <img src="/img/products/<%= teclado[i].image %>"
                    alt="imagen de producto">
            </div>
            <div class="datos">
                <p class="nombre">
                    <%= teclado[i].name %>
                </p>
                <p class="descipcion">
                    <%= teclado[i].description %>
                </p>
            </div>
            <div class="precio">
                <p>$<%= teclado[i].price %>
                </p>
            </div>
        </section>
    </a>
    <% } %>
    <% } %>
    <!-- AUDIFONOS -->
    <% for(let i=0; i<audifonos.length; i++){ %>
    <% if (audifonos[i].visible==true) { %>
    <a href="/products/productdetail/<%= audifonos[i].id_products %>">
        <section class="product-item">
            <div class="imagen-producto">
                <img src="/img/products/<%= audifonos[i].image %>"
                    alt="imagen de producto">
            </div>
            <div class="datos">
                <p class="nombre">
                    <%= audifonos[i].name %>
                </p>
                <p class="descipcion">
                    <%= audifonos[i].description %>
                </p>
            </div>
            <div class="precio">
                <p>$<%= audifonos[i].price %>
                </p>
            </div>
        </section>
    </a>
    <% } %>
    <% } %>
    <!-- RATONES -->
    <% for(let i=0; i<ratones.length; i++){ %>
    <% if (ratones[i].visible==true) { %>
    <a href="/products/productdetail/<%= ratones[i].id_products %>">
        <section class="product-item">
            <div class="imagen-producto">
                <img src="/img/products/<%= ratones[i].image %>"
                    alt="imagen de producto">
            </div>
            <div class="datos">
                <p class="nombre">
                    <%= ratones[i].name %>
                </p>
                <p class="descipcion">
                    <%= ratones[i].description %>
                </p>
            </div>
            <div class="precio">
                <p>$<%= ratones[i].price %>
                </p>
            </div>
        </section>
    </a>
    <% } %>
    <% } %>

    <!-- CÃMARAS -->
    <% for(let i=0; i<camaras.length; i++){ %>
    <% if (camaras[i].visible==true) { %>
    <a href="/products/productdetail/<%= camaras[i].id_products %>">
        <section class="product-item">
            <div class="imagen-producto">
                <img src="/img/products/<%= camaras[i].image %>"
                    alt="imagen de producto">
            </div>
            <div class="datos">
                <p class="nombre">
                    <%= camaras[i].name %>
                </p>
                <p class="descipcion">
                    <%= camaras[i].description %>
                </p>
            </div>
            <div class="precio">
                <p>$<%= camaras[i].price %>
                </p>
            </div>
        </section>
    </a>
    <% } %>
    <% } %>

    <!-- AUDIO -->
    <% for(let i=0; i<audio.length; i++){ %>
    <% if (audio[i].visible==true) { %>
    <a href="/products/productdetail/<%= audio[i].id_products %>">
        <section class="product-item">
            <div class="imagen-producto">
                <img src="/img/products/<%= audio[i].image %>"
                    alt="imagen de producto">
            </div>
            <div class="datos">
                <p class="nombre">
                    <%= audio[i].name %>
                </p>
                <p class="descipcion">
                    <%= audio[i].description %>
                </p>
            </div>
            <div class="precio">
                <p>$<%= audio[i].price %>
                </p>
            </div>
        </section>
    </a>
    <% } %>
    <% } %>