<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://kit.fontawesome.com/8b485465bd.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/normalize.css"/>
  <link rel="stylesheet" href="/css/styles-register.css">
  <link rel="stylesheet" href="/css/styles-header.css" />
  <link rel="stylesheet" href="/css/styles-footer.css" />
  <link rel="shortcut icon" href="/img/logo-solo.png" />
  <title>Registro</title>
</head>

<body class="body-register-confirmation">
  <header>
    <%- include('../partials/header') %>
  </header>

    <main>
        <form action="/users/" method="post" class="formulario-forma" enctype="multipart/form-data">
         <div class="mensaje-logo"><h1>FORMULARIO DE REGISTRO</h1></div>
         <P>Complete todos los campos para crear su ID</P>  


        
         <div class="formulado-interno">
          <div class="control-formulario">

            <% if (locals.errors && errors.nombre) { %>
              <div class="mensaje-error">
                <%= errors.nombre.msg %> 
              </div>
            <% } %>
               <input type="text" name="nombre" placeholder="NOMBRE" class="control-input <%= locals.errors && errors.nombre ? 'is-invalid' : null %>"
               value="<%= locals.oldData ? oldData.nombre : null %>"
             >
          </div>
          <div class="control-formulario">
             
            <% if (locals.errors && errors.apellido) { %>
              <div class="mensaje-error">
                <%= errors.apellido.msg %> 
              </div>
            <% } %>

                <input type="text" name="apellido" placeholder="APELLIDOS" class="control-input <%= locals.errors && errors.apellido ? 'is-invalid' : null %>"
                value="<%= locals.oldData ? oldData.apellido : null %>"
              >
          </div>
          <div class="control-formulario">

            <% if (locals.errors && errors.email) { %>
              <div class="mensaje-error">
                <%= errors.email.msg %> 
              </div>
            <% } %>
            
               <input type="email" name="email" placeholder="DIRECCIÓN DE CORREO ELECTRÓNICO" class="control-input <%= locals.errors && errors.email ? 'is-invalid' : null %>"
               value="<%= locals.oldData ? oldData.email : null %>"
             >

          </div>
          <div class="control-formulario">
               <input type="password" name="password" placeholder="CONTRASEÑA" class="control-input">
          </div>
          <div class="control-formulario">
            <label for="imagen" class="form-label">Cargue una imagen para su perfil</label>
						<input type="file" id="imagen" name="imagen" class="control-input" multiple>
					</div>
            
          <div>
            <input type="checkbox" name="newsletter" id="newsletter">
            <label for="newsletter">Si, quiero recibir noticias y correos electrónicos de productos</label>
          </div>
          <p> Al crear una cuenta, acepta nuestros <a href="#">Términos de servicio</a> y confirma que ha leido nuestra <a href="#">
              Política de privacidad.</a> Este sitio está protegido por Captcha.</p>
              <br>
          <div class="control-envio"><button type="submit" class="boton-formulario">CREAR CUENTA</button></div>
          <br>
          
          <br>
          <div><a href="/login" class="control-input">INICIAR SESIÓN</a></div>
        </div>
        </form>
    </main> 
 
    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>

 </body>
</html>