<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://kit.fontawesome.com/8b485465bd.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/normalize.css"/>
  <link rel="stylesheet" href="/css/styles-register.css">
  <link rel="stylesheet" href="/css/styles-profile.css">
  <link rel="stylesheet" href="/css/styles-header.css" />
  <link rel="stylesheet" href="/css/styles-footer.css" />
  <link rel="shortcut icon" href="/img/logo-solo.png" />

  <title>Lista de todos los usuarios</title>
</head>

<body>
  <header>
    <%- include('../partials/header') %>  
  </header>

    <main class="profile">
          <div >
            <h2 class="titulo">Todos los usuarios</h2><br>
          </div>

          <% for(let i=0; i<usuarios.length; i++){ %>
             <article class="card">
              <div class="card-left">
                 <figure>
                   <img src="/img/users/<%= usuarios[i].image ? usuarios[i].image : 'default.png' %>"  alt="">
                 </figure>
                  <h3 class="profileh3">#<%= usuarios[i].id_users %></h3>
              </div>
              <div class="card-content">
                    <h3 class="profileh3">Nombre usuario:<%= usuarios[i].name %> <%= usuarios[i].lastname %></h3>
                    <p class="profilep">Email:<%= usuarios[i].email %> </p>
                    <div>
						         <a class="boton-formulario" href="/users/<%= usuarios[i].id_users %>/edit" >EDITAR USUARIO</a>
                     <form action="/users/<%=usuarios[i].id_users%>?_method=DELETE" method="POST" style="display: inline-flex">
                      <button type="submit" class="button" >ELIMINAR USUARIO</button>
                    </div>

					          	</form>
                       
                    </div> 
            </article>   
            <br>
          <% } %>
          <br>
          <h2 ><a class="boton-formulario" href="/users/create" >REGRiSTRAR UN NUEVO USUARIO</a></h2>
    
        
      </div>

    </main> 
 
    <footer>
      <%- include('../partials/footer.ejs') %> 
    </footer>

 </body>
</html>